<?xml version="1.0" encoding="UTF-8"?>

<!-- This is a dummy POM added just to ease building in the RPM platforms: -->

<project
  xmlns="http://maven.apache.org/POM/4.0.0"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <modelVersion>4.0.0</modelVersion>
  <groupId>org.springframework</groupId>
  <artifactId>spring-project</artifactId>
  <packaging>pom</packaging>
  <version>3.1.4.RELEASE</version>

  <modules>
    <!-- These are not all the modules, only those that we can currently build: -->
    <module>org.springframework.spring-parent</module>
    <module>org.springframework.aop</module>
    <module>org.springframework.beans</module>
    <module>org.springframework.context</module>
    <module>org.springframework.core</module>
    <module>org.springframework.expression</module>
    <module>org.springframework.instrument</module>
    <module>org.springframework.jdbc</module>
    <module>org.springframework.transaction</module>
    <module>org.springframework.context.support</module>
    <module>org.springframework.oxm</module>
    <module>org.springframework.web</module>
    <module>org.springframework.jms</module>
    <module>org.springframework.orm</module>
    <module>org.springframework.web.servlet</module>
    <module>org.springframework.web.portlet</module>
    <module>org.springframework.web.struts</module>
    <module>org.springframework.test</module>
    <module>org.springframework.instrument.tomcat</module>
    <!-- TODO
    <module>org.springframework.aspects</module>
    UNWANTED
    <module>org.springframework.asm</module>
    <module>org.springframework.integration-tests</module>
    <module>org.springframework.spring-library</module>
    -->
  </modules>

  <build>
    <pluginManagement>
      <plugins>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-javadoc-plugin</artifactId>
          <version>2.7</version>
          <configuration>
            <encoding>ISO-8859-1</encoding>
            <aggregate>true</aggregate>
            <breakiterator>true</breakiterator>
            <doctitle>Spring Framework ${project.version} API</doctitle>
            <header>Spring Framework</header>
            <quiet>true</quiet>
            <stylesheetfile>${basedir}/spring-build/common/spring-javadoc.css</stylesheetfile>
            <overview>${project.artifactId}/src/main/java/overview.html</overview>
            <javadocDirectory>${basedir}/spring-build/common/javadoc-resources</javadocDirectory>
            <links>
              <link>http://docs.oracle.com/javase/6/docs/api/</link>
              <link>http://docs.oracle.com/javaee/6/api/</link>
              <link>http://docs.oracle.com/cd/E13222_01/wls/docs90/javadocs/</link> // CommonJ
              <link>http://pic.dhe.ibm.com/infocenter/wasinfo/v7r0/topic/com.ibm.websphere.javadoc.doc/web/apidocs/</link>
              <link>http://glassfish.java.net/nonav/docs/v3/api/</link>
              <link>http://docs.jboss.org/jbossas/javadoc/4.0.5/connector/</link>
              <link>http://docs.jboss.org/jbossas/javadoc/7.1.2.Final/</link>
              <link>http://commons.apache.org/proper/commons-lang/javadocs/api-2.5/</link>
              <link>http://commons.apache.org/proper/commons-codec/apidocs/</link>
              <link>http://commons.apache.org/proper/commons-dbcp/apidocs/</link>
              <link>http://portals.apache.org/pluto/portlet-2.0-apidocs/</link>
              <link>http://tiles.apache.org/framework/apidocs/</link>
              <link>http://ibatis.apache.org/docs/java/dev/</link>
              <link>http://hc.apache.org/httpclient-3.x/apidocs/</link>
              <link>http://aopalliance.sourceforge.net/doc/</link>
              <link>http://www.eclipse.org/aspectj/doc/released/aspectj5rt-api/</link>
              <link>http://ehcache.org/apidocs/</link>
              <link>http://quartz-scheduler.org/api/2.1.5/</link>
              <link>http://jackson.codehaus.org/1.4.2/javadoc/</link>
              <link>http://fasterxml.github.com/jackson-core/javadoc/2.0.1/</link>
            </links>
          </configuration>
        </plugin>
      </plugins>
    </pluginManagement>
  </build>
  <reporting>
      <plugins>
        <plugin>
          <groupId>org.apache.maven.plugins</groupId>
          <artifactId>maven-javadoc-plugin</artifactId>
          <version>2.7</version>
          <reportSets>
            <reportSet>
              <reports>
                <report>javadoc</report>
              </reports>
            </reportSet>
          </reportSets>
        </plugin>
      </plugins>
  </reporting>
</project>
